#!/bin/bash

# Renew the certificate
certbot renew --webroot --webroot-path=/var/www/html --email ${CERTBOT_EMAIL} --agree-tos --no-eff-email -d ${CERTBOT_DOMAIN} ${CERTBOT_OPTIONS}

# Check the exit status
if [ $? -eq 0 ]; then
    echo "Certificate renewal successful"
    # Reload Nginx to apply the new certificate
    # This assumes Nginx is running in a separate container named 'nginx'
    docker exec nginx nginx -s reload
else
    echo "Certificate renewal failed"
fi